<%= form_for @newcustomer do |f| %>
	<div class ="form-group" >
		<%= f.label :phonenumb %>
		<%=	f.text_field :phonenumb  %>

	<div class="form-group">
          <%= f.submit "Proceed for Payment" %>
	</div>

	

	</div>
